<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>budgets adminer</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to the budgets adminer</h1>
        <a class="btn btn-primary" href="{{ url_for('dashboard') }}">Go to Dashboard</a>
    </div><!-- https://poe.com/s/VGtu7oQFE0YeJQfMwZId -->
</body>
</html>